html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling */
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: cursive;
    font-weight: 300;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.main-page {
    background-image: url('images/main.png');
}

.scales-quiz {
    background-image: url('images/scales.webp');
}

.chords-quiz {
    background-image: url('images/chords.webp');
}

.container {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 5%; /* Reduce padding to fit more content */
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    text-align: center;
    width: 90vw; /* Ensure container fits within viewport width */
    max-height: 90vh; /* Ensure container fits within viewport height */
    overflow-y: auto; /* Allow scrolling within the container if necessary */
}

h1, h2 {
    margin: 10px 0; /* Reduce margin for headings */
}

#game-selection, #quiz {
    margin-bottom: 5%; /* Reduce margin to fit more content */
}

.choice {
    display: block;
    margin: 5% 0; /* Reduce margin to fit more content */
}

button, .back {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

button:hover, .back:hover {
    background-color: #45a049;
}

.back {
    background-color: #df0e0e;
}

.back:hover {
    background-color: #772828;
}

#feedbackCorrect, #feedbackWrong {
    margin-top: 10px;
    font-weight: bold;
}

#feedbackCorrect {
    color: lightgreen;
}

#feedbackWrong {
    color: rgb(172, 30, 30);
}

#score {
    font-size: 1.2em;
    color: #333333;
}
